  
// Site Elements
  
.color-contrast {
  color: $contrast-color;
}
    
.description-box {
   background-color: $light;
   margin: 1em 0;
   @include pad($default-padding);
   @include span-columns(12);
   @include media($medium) {
      @include span-columns(6);
   }
   a { 
     color: $-gray;
     &::before {
       content: "> "; 
     }
   }
 } 
 
 .full-width-content {
   @include media($medium) {
     @include span-columns(12);
   }
   .container {
      padding: $default-padding * 2;
   }
}

#about-teachers {
  background-color: $contrast-color;
}

